*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color-black: #000;
  --color-white: hsl(0, 0%, 100%);
  --color-title: #0c0c0e;
  --color-brown: #bb945f;
  --color-gray: #8e8e8e;
  --font-title: "Forum";
  --font-subtitle: "Inter";
}

.section-title {
  color: var(--color-title);
  font-family: var(--font-title);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}
.title {
  color: var(--color-title);
  text-align: center;
  font-family: var(--font-title);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.subtitle {
  color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.text,
.text-bold {
  color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-bold {
  font-weight: 700;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.inter {
  font-family: var(--font-subtitle);
}
.forum {
  font-family: var(--font-title);
}
.link {
  text-decoration: none;
  /*  // color: var(--color-white); */
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  cursor: pointer;
}

.line {
  margin: 20px auto 0;
  padding: 0;
  width: 50px;
  height: 1px;
  background-color: var(--color-black);
}
.section-subtitle,
.section-subtitle-forum {
  color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 40px auto 20px;
}
.section-subtitle-forum {
  font-family: var(--font-title);
  margin: 0;
}
.section-wrapper {
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
}
.main-container {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
}
.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: var(--color-title);
  color: var(--color-white);
  border: 0;
}
.header-logo > h1 {
  color: var(--color-white);
  font-family: var(--font-title);
  line-height: 50px;
}
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.header-menu > li > a {
  color: var(--color-white);
}
.header-menu > li > a:hover {
  color: var(--color-brown);
  font-weight: 700;
}
.header-icon {
  display: block;
  /*  color: var(--color-white); */
}
/*--------------------------welcome-------------------*/
.welcome {
  width: 100%;
  height: 600px;
  background-image: url("./accets/Welcome-bg.png");
  position: relative;
}

/*--------------------about----------------------*/
.about-galery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  overflow: hidden;
}
.dotes {
  margin: 35px auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  display: block;
  width: 26px;
  height: 26px;
  position: relative;
}
.dot::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-black);
  top: 50%;
  left: 50;
  transform: translate(-50%, -50%);
}
.bg-brown::after {
  background-color: var(--color-brown);
}

/*--------------------favorites----------------------*/
.favorite-subtitle {
  text-align: left;
  margin: 40px 0;
}
.favorite-item__maintitle {
  text-align: left;
  margin: 0 0 40px;
}
.favorite-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
  width: 100%;
  margin: 0 0 40px;
}
.favorite-form__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
  height: 27px;
}
.favorite-form__label {
  display: block;
  color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  display: block;
  padding-left: 37px;
  position: relative;
}
.checked {
  font-weight: 700;
}
.favorite-form__label:before,
.checked::before {
  content: "";
  position: absolute;
  left: 0;
  /*   top: 50%;
  transform: translateY(-50%);
  z-index: 2; */
  width: 17px;
  height: 17px;
  margin: 5px;
  background-position: center center;
  background-image: url("./accets/radio-btn/no-checked.svg");
}
.checked::before {
  background-image: url("./accets/radio-btn/checked.svg");
}
.favorites-radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.favorite-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
}
.favorite-item-container {
  width: 590px;
  height: auto;
}
.favorite-item {
  width: 550px;
  height: 555px;
  border: 1px solid var(--color-black);
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  position: relative;
  padding: 15px 20px;
}
.favorite-item__maintitle {
  color: var(--color-black);
  font-family: var(--font-title);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.favorite-item__row {
  width: 60px;
  height: 1px;
  background-color: var(--color-brown);
  margin: 0 0 20px;
}
.favorite-item__title,
.favorite-item__subtitle,
.favorite-item__text {
  font-family: var(--font-title);
  font-family: var(--font-subtitle);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}
.favorite-item__subtitle {
  text-transform: capitalize;
}
.favorite-item__text {
  font-weight: 400;
  margin: 20px 0 15px;
  width: 355px;
  text-transform: capitalize;
}
.favorite-item__btn {
  width: 75px;
  height: 30px;
  font-family: var(--font-subtitle);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid var(--color-title);
  color: var(--color-title);
  background-color: var(--color-white);
  position: absolute;
  bottom: 15px;
  left: 20px;
  transition: 0.3s;
}
.favorite-item__btn:hover {
  background-color: var(--color-brown);
}
.favorite-item__img {
  position: absolute;
  bottom: -1px;
  left: 390px;
  width: 200px;
  height: 300px;
}
.own {
  border-color: var(--color-brown);
  color: var(--color-brown);
}
.own:hover {
  border-color: var(--color-brown);
  background-color: var(--color-white);
  color: var(--color-brown);
}
/*------------------------------coffee -------------------*/
.coffe-subtitle {
  margin: 40px auto;
  letter-spacing: 2px;
}
.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 20px;
}
.menu-item {
  width: 438px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  gap: 40px;
}
.menu-item > h4 {
  display: block;
  width: 100%;
  color: var(--color-brown);
}
.menu-row {
  width: 438px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.menu-item2 {
  width: 512px;
  align-items: flex-end;
}
.menu-item2 > .menu-row {
  justify-content: flex-end;
}
.menu-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}
.menu-row > h6,
.menu-row > p {
  white-space: nowrap;
  margin: 0 0 0 0;
}

.menu-inner > hr {
  width: 100px;
  height: 1px;
  background-color: var(--color-brown);
  margin: 0;
}
/*---------------------contact----------------------------*/
.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto 20px;
}
.contacts-map {
  width: 696px;
  height: 414px;
  position: relative;
}
.contact-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.contacts-text,
.contacts-text-section {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  gap: 40px;
}
.contacts-text-section {
  gap: 20px;
}

.contacts-text-section > h6,
.contacts-text-section > p,
.contacts-text-section > p > a {
  color: var(--color-black);
  font-family: var(--font-subtitle);
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0 0 20px;
  text-decoration: none;
}
.contacts-text-section > p,
.contacts-text-section > p > a {
  font-weight: 400;
  margin: 0;
}
/*----------------------digital------------------*/
.digital-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto 20px;
}
.digital-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.digital-subtitle {
  text-align: center;
}
.subtitle-forum {
  font-family: var(--font-title);
}
.digital-item > h4 {
}
.digital-text {
  line-height: 40px;

  margin: 35px 0;
}
.digital-form-wrapper {
  margin: 30px 0;
  padding: 20px 20px 30px;
  background-color: var(--color-white);
  width: 600px;
  height: 386px;
  border: 3px solid var(--color-brown);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.digital-form {
  background-color: var(--color-brown);
  padding: 20px 20px 0;
}
.digital-form__title {
  line-height: 50px;
  margin: 0 0 20px;
}
.digital-input {
  width: 100%;
  text-align: left;
  border-radius: 10px;
  background: var(--color-white);
  padding: 8px 20px;
  margin: 0 0 25px 0;
  color: var(--color-gray);
  font-family: var(--font-title);
  line-height: 50px;
}

.digital-button {
  margin: 20px auto 0;
  padding: 10px 40px;
  border-radius: 2px;
  border: 1px solid var(--color-title);
  color: var(--color-title);
  text-align: center;
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: var(--color-white);
  transition: 0.3s;
}
.digital-button:hover {
  background-color: var(--color-brown);
}
.small {
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  font-size: 10px;
  display: inline;
  margin: 0;
}
.digital-flex-end {
  width: 456px;
  align-items: flex-end;
}
.digital-flex-end > .btn-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
/*---------------------------footer------------------*/
footer {
  background-color: var(--color-black);
  width: 100%;
  padding: 20px 20px 0 20px;
  color: var(--color-white);
}
.footer-row__1,
.footer-row,
.footer-row__2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-row__1 {
  margin: 0 0 10px 0;
}
.footer-row__3 {
  height: 110px;
}
footer > hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  margin: 30px 0 0;
}
.footer-text {
  margin: 0;
}
.footer-text__smal {
  color: var(--color-white);
  font-family: var(--font-subtitle);
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}
.footerText {
  width: 100%;
  color: var(--color-white);
  letter-spacing: 2px;
  margin: 0;
}
.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.icons {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

@font-face {
  font-family: "Forum";
  src: url("./accets/fonts/forum/Forum-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./accets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-style: normal;
}
