*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-title: #0c0c0e;
  --color-brown: #bb945f;
  --color-gray: #8e8e8e;
  --font-title: "Forum";
  --font-subtitle: "Inter";
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover,
.hover:hover {
  cursor: pointer;
  color: var(--color-brown);
}

.hover__img:hover {
  box-shadow: 2px 2px 2px var(--color-brown);
}
.section-title {
  width: 100%;
  color: var(--color-title);
  font-family: var(--font-title);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}
.title {
  color: var(--color-title);
  text-align: center;
  font-family: var(--font-title);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.subtitle {
  color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.text,
.text-bold {
  color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-15 {
  color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.text-10 {
  color: var(--color-title);
  text-align: center;
  font-family: var(--font-subtitle);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}
.text-bold {
  font-weight: 700;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.inter {
  font-family: var(--font-subtitle);
}
.forum {
  font-family: var(--font-title);
}
.link {
  text-decoration: none;
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  cursor: pointer;
}

.line {
  margin: 20px auto 0;
  padding: 0;
  width: 50px;
  height: 1px;
  background-color: var(--color-black);
}
.section-subtitle,
.section-subtitle-forum {
  color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 40px auto 20px;
}
.section-subtitle-forum {
  font-family: var(--font-title);
  margin: 0;
}
.section-wrapper {
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding: 20px;
  text-align: center;
}
.btn:hover {
  transition: 0.3s;
  background-color: var(--color-brown);
}
.hidden {
  opacity: 0;
  z-index: -1000;
}
.text-brown {
  color: var(--color-brown) !important;
}
/*--------------------animation----------------------*/
@keyframes favorite-opacity-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes favorite-opacity-closed {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
/*----------------------main----------------------------*/
.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
/*----------------------start-header ----------------------*/
.header {
  width: 100%;
  max-width: 1440px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: var(--color-title);
  color: var(--color-white);
  border: 0;
  position: relative;
}
.header-logo > h1 {
  color: var(--color-white);
  font-family: var(--font-title);
  line-height: 50px;
}
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.header__menu > li > a {
  color: var(--color-white);
}
.header__menu > li > a:hover {
  color: var(--color-brown);
  font-weight: 700;
}
.header-icon {
  display: block;
  /*  color: var(--color-white); */
}
.header-burger {
  display: none;
}
.header__link {
  color: var(--color-white);
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
.menu-auth {
  width: 80px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-white);
  position: absolute;
  right: 20px;
  top: 60px;
  padding: 5px 4px 10px;
  display: none;
}
.menu-auth__title {
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto 5px;
  text-align: center;
}
.menu-auth__row {
  width: 40px;
  height: 1px;
  margin: 0 auto 15px;
  background-color: var(--color-brown);
}
.menu-auth__btn {
  background-color: var(--color-white);
  border: none;
  width: 100%;
  margin: 0 auto 10px;
  line-height: 20px;
}
.user-icon-name {
  cursor: pointer;
  display: block;
}
/*---------------header-meadia--------------------*/
@media (max-width: 1024px) {
  .header__menu {
    display: none;
    padding: 0 100px 100px;
  }
  .header-burger {
    cursor: pointer;
    display: block;
    width: 45px;
    text-align: right;
  }
  .close {
    background-image: url("./accets/burger-lines.png");
    height: 23px;
    background-position: center;
  }
  .open {
    background-image: url("./accets/burger-cross.svg");
    background-position: center;
    height: 32px;
    width: 32px;
    margin-left: 13px;
  }
  @keyframes close {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .header__nav {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    width: 332px;
    background-color: var(--color-title);
    opacity: 1;
    z-index: 10;
    animation: close 0.4s;
  }

  @keyframes open {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
      z-index: 100;
    }
  }

  .open__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .animate-open {
    animation: open 0.4s;
  }
  .menu-auth {
    right: 105px;
  }
}
/*--------------------------welcome-------------------*/
.welcome {
  width: 100%;
  max-width: 1440px;
  height: auto;
  height: 600px;
  background-image: url("./accets/Welcome-bg.png");
  background-size: cover;
}

/*--------------------about----------------------*/
.about-galery__visible-block {
  width: 100%;
  height: 560px;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.about-galery {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  position: absolute;
  top: 0;
  left: 0;
}
.about-galery__centralblock {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.dotes {
  width: 100%;
  max-width: 1440px;
  margin: 35px auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  display: block;
  width: 26px;
  height: 26px;
  position: relative;
}
.dot::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-black);
  top: 50%;
  left: 50;
  transform: translate(-50%, -50%);
}
.active-dot::after {
  background-color: var(--color-brown);
}
.about-galery__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  display: none;
}
.about-btn {
  border: none;
  background-color: transparent;
  padding: 15px;
}
.about-btn:disabled {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .arrow {
    display: flex;
    align-items: center;
    width: 58px;

    height: 100%;
  }
  .arrow__img {
    display: block;
  }
  .arrow-left {
    justify-content: flex-start;
    padding: 0 44px 0 0;
  }
  .arrow-right {
    justify-content: flex-end;
    padding: 0 0 0 44px;
  }
  .about-galery__wrapper {
    width: 568px;
    margin: 0 auto;
  }
}

/*--------------------favorites----------------------*/
.favorites {
  padding-bottom: 40px;
  padding: 0 20px;
  position: relative;
}
.favorite-subtitle {
  text-align: left;
  margin: 40px 0;
}
.favorite-item__maintitle {
  text-align: left;
}

.favorite-form {
  background-color: var(--color-white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
  width: 100%;
  padding: 40px 0;
}
.favorite-form__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
  height: 27px;
}
.favorite-form__label {
  display: block;
  color: var(--color-black);
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  display: block;
  padding-left: 37px;
  position: relative;
}
.checked {
  font-weight: 700;
}
.favorite-form__label:before,
.checked::before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  margin: 5px;
  background-position: center center;
  background-image: url("./accets/radio-btn/no-checked.svg");
}
.checked::before {
  background-image: url("./accets/radio-btn/checked.svg");
}
.favorites-radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.favorite-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 1256px) {
  .favorite-items-wrapper {
    justify-content: center;
  }
}
.favorite-item-container {
  width: 590px;
  height: auto;
}
.favorite-item {
  width: 550px;
  height: 555px;
  border: 1px solid var(--color-black);
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  position: relative;
  padding: 15px 20px;
  animation: favorite-opacity-open 2s;
}
.favorite-item-closed {
  animation: favorite-opacity-closed 3s;
}
.favorite-item__maintitle {
  color: var(--color-black);
  font-family: var(--font-title);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0 0 0 0;
}
.favorite-item__row {
  width: 60px;
  height: 1px;
  background-color: var(--color-brown);
  margin: 0 0 20px;
}
.favorite-item__title,
.favorite-item__subtitle,
.favorite-item__text {
  font-family: var(--font-subtitle);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

.favorite-item__subtitle {
  text-transform: capitalize;
}
.favorite-item__text {
  font-weight: 400;
  margin: 20px 0 15px;
  width: 355px;
  text-transform: capitalize;
}
.favorite-item__btn {
  width: 75px;
  height: 30px;
  font-family: var(--font-subtitle);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid var(--color-title);
  color: var(--color-title);
  background-color: var(--color-white);
  position: absolute;
  bottom: 15px;
  left: 20px;
  transition: 0.3s;
}
.favorite-item__btn:hover {
  background-color: var(--color-brown);
}
.favorite-item__img {
  position: absolute;
  bottom: -1px;
  left: 390px;
  width: 200px;
  height: 300px;
}
.own {
  border-color: var(--color-brown);
  color: var(--color-brown);
}
.own:hover {
  border-color: var(--color-brown);
  background-color: var(--color-white);
  color: var(--color-brown);
}
@media (max-width: 768px) {
  .favorite-items-wrapper {
    justify-content: center;
  }

  .favorites {
    position: relative;
  }
  .favorite-form {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
/*------------------------------coffee -------------------*/
.coffe-subtitle {
  margin: 40px auto;
  letter-spacing: 2px;
}
.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 0 20px;
  row-gap: 40px;
}
.menu-item {
  width: 438px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  gap: 40px;
}
.menu-item > h4 {
  display: block;
  width: 100%;
  color: var(--color-brown);
}
.menu-row {
  width: 438px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.menu-item2 {
  width: 512px;
  align-items: flex-end;
}
.menu-item2 > .menu-row {
  justify-content: flex-end;
}
.menu-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}
.menu-row > h6,
.menu-row > p {
  white-space: nowrap;
  margin: 0 0 0 0;
}

.menu-inner > hr {
  width: 100px;
  height: 1px;
  background-color: var(--color-brown);
  margin: 0;
}
@media (max-width: 1024px) {
  .menu-item2 {
    width: 100%;
  }
}
/*---------------------contact----------------------------*/
.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto 20px;
  flex-wrap: wrap;
  row-gap: 100px;
}
.contacts-map {
  width: 696px;
  height: 414px;
  position: relative;
}
.contact-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.contacts-text,
.contacts-text-section {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  gap: 40px;
}
.contacts-text-section {
  gap: 20px;
}
.contacts-text > h6,
.contacts-text-section > h6,
.contacts-text-section > p,
.contacts-text-section > p > a {
  color: var(--color-black);
  font-family: var(--font-subtitle);
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  /* margin: 0 0 20px; */
  text-decoration: none;
}
.contacts-text-section > p,
.contacts-text-section > p > a {
  font-weight: 400;
  margin: 0;
}
@media (max-width: 768px) {
  .contacts-wrapper {
    width: 100%;
  }
}
/*----------------------digital------------------*/
.digital {
  padding-bottom: 0;
}
.digital-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto;
  flex-wrap: wrap;
}
.digital-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.digital-subtitle {
  text-align: center;
}
.subtitle-forum {
  font-family: var(--font-title);
}

.digital-text {
  line-height: 40px;

  margin: 35px 0;
}
.digital-form-wrapper {
  margin: 30px 0 0;
  padding: 20px 20px 30px;
  background-color: var(--color-white);
  width: 600px;
  height: 386px;
  border: 3px solid var(--color-brown);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.digital-form {
  background-color: var(--color-brown);
  padding: 20px 20px 0;
}
.digital-form__title {
  line-height: 50px;
  margin: 0 0 20px;
}
.digital-input {
  width: 100%;
  height: 66px;
  text-align: left;
  border-radius: 10px;
  background: var(--color-white);
  padding: 8px 20px;
  margin: 0 0 25px 0;
  color: var(--color-gray);
  font-family: var(--font-title);
  line-height: 50px;
}

.digital-button {
  margin: 20px auto 0;
  padding: 10px 40px;
  border-radius: 2px;
  border: 1px solid var(--color-title);
  color: var(--color-title);
  text-align: center;
  font-family: var(--font-subtitle);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: var(--color-white);
  transition: 0.3s;
}
.digital-button:hover {
  background-color: var(--color-brown);
}
.small {
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  font-size: 10px;
  display: inline;
  margin: 0;
}
.digital-flex-end {
  width: 456px;
  align-items: flex-end;
}
.digital-flex-end > .btn-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
/*---------------------------footer------------------*/
footer {
  background-color: var(--color-black);
  width: 100%;
  padding: 20px 20px 0 20px;
  color: var(--color-white);
}
.footer-row__1,
.footer-row,
.footer-row__2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-row__1 {
  margin: 0 0 10px 0;
}
.footer-row__3 {
  height: 110px;
}
footer > hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  margin: 30px 0 0;
}
.footer-text {
  margin: 0;
}
.footer-text__smal {
  color: var(--color-white);
  font-family: var(--font-subtitle);
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}
.footerText {
  max-width: 100%;
  color: var(--color-white);
  letter-spacing: 2px;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.icons {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
/*---------------------------modal-------------------*/
.lib-modal,
.register-modal,
.profile-modal,
.login-modal {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.active-modal {
  visibility: visible;
  z-index: 1000;
}
.login-wrapper,
.profile-wrapper,
.register-wrapper {
  width: 250px;
  height: 382px;
  background-color: var(--color-white);
  position: relative;
  padding: 20px 25px;
}

.login-wrapper {
  height: 262px;
}
.login-inner,
.register-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.profile-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.modal-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
  font-family: var(--font-title);
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.modal-label {
  letter-spacing: 0.3px;
  line-height: 20px;
}
.modal-input {
  width: 100%;
  height: 20px;
  margin: 10px 0 0;
  border: 1px solid var(--color-brown);
}

.modal-btn {
  padding: 9px 15px;
  border-radius: 2px;
  border: 1px solid var(--color-title);
  background-color: var(--color-white);
}
.modal-info-link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: var(--color-white);
  padding: 0;
}
.small-btn {
  padding: 0;
  border: none;
  background-color: var(--color-white);
  font-weight: 700;
}
/*-----------------my-profile-modal-------------------*/
.profile-wrapper {
  width: 600px;
  /*  min-height: 400px; */
  height: max-content;
  padding: 0;
}
.profile-name-wrapper {
  width: 170px;
  min-height: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--color-black);
}
.profile-initial {
  width: 80px;
  height: 80px;
  background-color: var(--color-white);
  color: var(--color-brown);
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding: 30px 0;
  text-align: center;
}
.profile-name {
  background-color: var(--color-white);
  font-size: 20px;
  font-family: var(--font-subtitle);
  text-transform: capitalize;
  font-weight: 400;
  padding: 5px 15px;
}
.profile-info {
  flex: 1;
  height: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.profile-title {
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}
.profile-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 0 0 20px;
}
.profile-card {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.profile-card-title {
  text-transform: capitalize;
}
.profile-card-icon {
  width: 20px;
  height: 21px;
}
.profile-card-count {
  color: var(--color-black);
  font-weight: 400;
  line-height: 20px; /* 200% */
  text-align: center;
  letter-spacing: 0.2px;
}
.profile-list {
  width: 100%;
  height: auto;
  margin: 0 0 0 20px;
}
.profile-list-title {
  font-size: 25px;
  margin: 0 0 30px;
}
.profile-list-item {
  color: var(--color-black);
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0 0 10px;
}
.profile-card-number {
  color: var(--color-brown);
  text-transform: uppercase;
}
.number-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 40px 0;
}
.profile-card-number,
.profile-cardnumbers {
  margin: 0;
}

.lib-wrapper {
  width: 640px;
  height: auto;
  background-color: var(--color-white);
  position: relative;
  margin: 0;
  padding: 0;
}
.lib-inner {
  width: 100%;
}
.lib-header {
  width: 100%;
  height: 60px;
  background-color: var(--color-black);
  padding: 10px 0;
}
.lib-title {
  color: var(--color-white);
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.lib-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 35px 40px;
  gap: 40px;
}
.lib-col-right,
.lib-col-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.lib-col-right,
.lib-form {
  width: 200px;
}
.lib-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0 0 20px;
}
.lib-label {
  line-height: 20px;
  letter-spacing: 0.3px;
}
.lib-input {
  border: 1px solid var(--color-brown);
  height: 20px;
  width: 100%;
}
.exp-input {
  width: 45px;
}
.lib-text {
  color: var(--color-gray);
  line-height: 20px;
  letter-spacing: 2px;
}
.lib-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 25px;
}
.lib-input-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}
.lib-price {
  color: var(--color-title);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.lib-submit-btn {
  border-radius: 2px;
  background-color: var(--color-white);
  border: 1px solid var(--color-title);
  padding: 9px 27px;
  color: var(--color-title);
  text-align: center;
  font-family: var(--font-subtitle);
  font-size: 10px;
  font-weight: 700;
}

.close-lib-btn {
  background-color: var(--color-black);

  width: 15px;
  height: 15px;
}
.lib-close {
  background-color: var(--color-black);
}

/*---------------------------fonts-------------------*/
@font-face {
  font-family: "Forum";
  src: url("./accets/fonts/forum/Forum-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./accets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-style: normal;
}

@media (max-width: 1094px) {
  .digital-wrapper {
    justify-content: center;
  }
  .digital-flex-end {
    width: 600px;

    margin: 21px 0 0 0;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .about-galery {
    width: 100%;
    max-width: 450px;
  }

  .dotes {
    width: 100%;
    max-width: 450px;
  }
  .coffee-title {
    margin-top: 40px;
  }
  .contacts-map {
    margin: 0 auto;
  }
  .digital-text {
    width: 100%;
    margin: 40px 0;
    text-align: center;
  }
  .footerText {
    text-align: center;
  }
}

.open-user {
  display: block !important;
}
.display-none {
  display: none;
}
.link-btn {
  text-decoration: underline;
  font-weight: 700 !important;
}
